<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>51torrent 管理平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="${ctxPath}/favicon.ico">
    <link rel="stylesheet" href="${ctxPath}/static/admin/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="${ctxPath}/static/admin/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>51torrent </strong>
        <small>管理平台</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
        <span class="am-sr-only">导航切换</span>
        <span class="am-icon-bars"></span>
    </button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users">
                        </span> 管理员 <span class="am-icon-caret-down">
                    </span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="${ctxPath}/admin/add_update_user?id=9"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="javascript:logout();"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only">
                <a href="javascript:;" id="admin-fullscreen">
                    <span class="am-icon-arrows-alt"></span>
                    <span class="admin-fullText">开启全屏</span>
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li>
                    <a href="${ctxPath}/admin"><span class="am-icon-home"></span> 首页</a>
                </li>
                <li class="admin-parent">
                    <a href="${ctxPath}/admin/user_list" class="am-cf">
                         <span class="am-icon-list"></span> 用户管理
                         <span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span>
                     </a>
                </li>
                 <li class="admin-parent">
	                  <a href="${ctxPath}/admin/mv_list">
	                       <span class="am-icon-database"></span>影片管理
	                  </a>
	              </li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>只分享高清电影</p>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    ${layoutContent}
    <!-- content end -->

</div>

<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-text-center">© 2015 iMoive版权所有</p>
</footer>

<script type="text/javascript">
function getCtxPath() {
    return "${ctxPath}";
}
</script>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="${ctxPath}/static/admin/assets/js/polyfill/rem.min.js"></script>
<script src="${ctxPath}/static/admin/assets/js/polyfill/respond.min.js"></script>
<script src="${ctxPath}/static/admin/assets/js/amazeui.legacy.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${ctxPath}/static/admin/assets/js/jquery.min.js"></script>
<script src="${ctxPath}/static/admin/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<!-- layer -->
<script src="${ctxPath}/static/layer/layer.js"></script>
<script src="${ctxPath}/static/admin/assets/js/app.js"></script>
<script src="${ctxPath}/static/admin/assets/js/jquery.form.min.js"></script>
<div style="display:none;">
<script src="http://s13.cnzz.com/stat.php?id=5631992&web_id=5631992" language="JavaScript"></script>
</div>
</body>
</html>