<script type="text/javascript">
function getCtxPath() {
	return "${ctxPath}";
}
</script>
<!--<![endif]-->
<!-- layer -->
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/jquery-1.10.2.min.js"></script>
<script src="${ctxPath}/static/front/assets/js/amazeui.min.js"></script>
<script type='text/javascript' src="${ctxPath}/static/layer/layer.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/jquery.form.min.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/app.js"></script>


<script type='text/javascript' src="${ctxPath}/static/front/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/modernizr.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/bootstrap.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/tabs.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/jquery.lightbox.js"></script>
<script type='text/javascript' src="${ctxPath}/static/front/assets/js/templatemo_custom.js"></script>
