<div id="templatemo_footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>申明：本站基于互联网自由分享，所有bt种子文件均来自互联网，分享于互联网，本站只作为一个bt种子暂存平台！ </p>
				<p>本站服务器未保存任何影视资源或文件，且本站并不属于bt种子的提供者、制作者、所有者，因此本站不承担任何法律责任</p>
				<p>
					友情链接：    <a href="http://www.dreamlu.net" target="_blank">如梦技术</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://www.jfinal.com" target="_blank">jfinal</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="http://www.jcore.cn/" target="_blank">jcore</a>
							&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;
					一起讨论：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a69545e43f840d8ac0fa5df957c86cde2e947cca61f73da00d5a62b75298a241"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="51torrent" title="51torrent"></a>
					&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;
					关于我: <a href="http://my.oschina.net/u/993551">北京.snooby</a>
				</p>
				<p>
					© 2013-2015 如梦技术 京ICP备13040556号-2 	<a href="http://www.dreamlu.net/" target="_blank" title="如梦技术">dreamlu.net</a>
				</p>
			</div>
			<!-- /.col-md-12 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<!-- /.templatemo_footer -->
<div style="display:none;">
	<script src="http://s13.cnzz.com/stat.php?id=5631992&web_id=5631992" language="JavaScript"></script>
</div>