/* cms-author */
.cms-author-header{ width:260px;padding-left:20px;}
.cms-admin-header{ background:#cb312f;color:#ffffff;}
.cms-admin-header-list a{color:#ffffff;}
.cms-admin-header-list a:hover{ color:#333;}

